

  <footer>
    <a target="_blank" href="https://www.facebook.com/partywatchofficial"><i class="fab fa-facebook-f fa-2x"></i></a>
    <a target="_blank" href="https://instagram.com"><i class="fab fa-instagram fa-2x"></i></a>
    <a target="_blank" href="https://twitter.com/partywatchbr/"><i class="fab fa-twitter fa-2x"></i></a>
    <p class="foot-logo1">ReleaseDate</p>
    <p class="Copyright">Copyright 2020  | All Rights Reserved</p>
    <a id="contact" href="">email@email.com</a>


  </footer>


  <script src="/script.js"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper('.swiper-container', {
    slidesPerView: 7,
    spaceBetween: 20,

    scrollbar: {
        el: '.swiper-scrollbar',
        draggable: 'true',
      },

    
 
  });

  
</script>
</body>
</html>