<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <title>Movie App</title>
</head>
<body>

    <div class="jumbotron">
        <h1>Welcome to MovieApp</h1>
        <hr class="my-4">
        <form action="/" method="post">
            <input type="text" name="search" id="inputValue">
            <button class="btn btn-primary" type="submit">Search</button>   
        </form>        
    </div>
    <div class="movies">
    <% movies.map(function(movie){ %>
        <% if(movie.poster_path && !movie.adult){ %>
        <div class="movie">
            <a href="/movies/<%= movie.id %>">
                <img src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>" alt="movie poster">
                <p><%= movie.title %></p>
            </a>
        </div>
    <%}%>
    <%})%>
    </div>  
    

    
</body>
</html>